:host {
  --background-color: #;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

main {
  max-width: 1400px;
}

#logo {
  display: block;
  max-width: 70%;
}

body {
  background-image: url(./images/background.png);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#lightgallery {
  margin: 10px;
}

#lightgallery img {
  width: 100%;
}

#lightgallery > a {
  display: block;
  width: 300px;
  max-width: 50%;
  border-radius: 4px;
  overflow: hidden;
}

.grid-sizer { 
  width: 300px; 
  max-width: 50%;
}