:host {
  --background-color: #;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

main {
  max-width: 1124px;
}

#logo-container {
  max-width: 90%;
  display: flex;
  height: 130px;
}

#overlay {
  height: 100%;
  width: 100%;
  background-color: #f4e7b530;
  overflow: auto;
}

#lg-backdrop-1 {
  background-color: #000000d4;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  border-color: #f8ce4f;
}

#logo {
  background-image: url("images/logo.png");
  flex: 5;
}

.bunny {
  background-image: url("images/bunny.gif");
  flex: 1;
}

.centered-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-image: url(./images/background.png);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#lightgallery {
  margin: 10px;
}

#lightgallery img {
  width: 100%;
}

#lightgallery > a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("images/frame.gif");
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#lightgallery > a > img {
  display: block;
  border-radius: 10px;
}

.grid-sizer,
#lightgallery > a {
  width: calc(50% - 10px);
}

@media only screen and (min-width: 600px) {
  #logo-container {
    max-width: 70%;
  }
  .grid-sizer,
  #lightgallery > a {
    width: calc(25% - 10px);
  }
}

/**
    transform: scale(1.2);
    z-index: 99999;
    border: 6
px
 solid;
    border-color: white;
**/
